<aside data-ng-include="'/modules/topbars/views/topbar.html'"></aside>  
<section class="margin-for-topbar-main">
<div class="section-box row container-fluid">
        <div class="col-lg-12">
            <h1 class="head-section-margin">ประเภทงาน</h1>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3" ng-repeat="data in jobTypes | limitTo: 4">
                            <div class="wrap">
                                <figure class="tint">
                                    <img style="width:100%" ng-src="{{data.imgExpertUrl}}">
                                </figure>
                            </div>
                            <p class="textcover-img">{{data.name[lang]}}</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3" ng-repeat="data in jobTypes | limitTo: (4 - jobTypes.length)">
                            <div class="wrap">
                                <figure class="tint">
                                    <img style="width:100%" ng-src="{{data.imgExpertUrl}}">
                                </figure>
                            </div>
                            <p class="textcover-img">{{data.name[lang]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-box container-fluid" ng-repeat="ex in experts">
        <div class="col-lg-12">
            <h1 class="head-section-margin">{{ex.jobType.name[lang]}}<span class="see-all-wrap float-r"><a ng-href="/#/experts{{ex.jobType._id}}" class="btn btn-more">ดูทั้งหมด ></a></span></h1>
            <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in ex.experts | limitTo: 5">
                <div class="amPmCheckbox">
                    <input type="checkbox" class="checkboxLabel main_street_input" id="{{data._id}}" value="1" />
                    <label for="{{data._id}}"></label>
                </div>
                <a ng-href="/#/experts-detail{{data._id}}">
                <img style="width:100%" height="278px"ng-src="{{data.profileImg[0].url}}">
                <p class="experts-name">{{data.name}}</p>
                <span class="experts-tag">{{data.tag.name[lang]}}</span>
                <div class="experts-rating" ng-if="data.rating===0">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===1">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===2">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===3">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===4">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===5">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                </div>
                <p><img src="assets/img/location.png">{{data.location | getDistance}} km {{data.location.name}}</p>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="section-box row container-fluid">
        <div class="col-lg-12">
            <h1 class="head-section-margin">ล่าม<span class="see-all-wrap float-r"><button class="btn btn-more">ดูทั้งหมด ></button></span></h1>
            <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in objects | limitTo: 5">
                <div class="amPmCheckbox">
                    <input type="checkbox" class="checkboxLabel main_street_input" id="{{data.id}}" value="1" />
                    <label for="{{data.id}}"></label>
                </div>
                <a href="/#/experts-detail">
                <img style="width:100%" ng-src="{{data.img}}">
                <p></p>{{data.name}}</p>
                <span>{{data.tag}}</span>
                <p><img src="assets/img/location.png">{{data.location}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="section-box row container-fluid">
        <div class="col-lg-12">
            <h1 class="head-section-margin">นักแปล<span class="see-all-wrap float-r"><button class="btn btn-more">ดูทั้งหมด ></button></span></h1>
            <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in objects | limitTo: 5">
                <div class="amPmCheckbox">
                    <input type="checkbox" class="checkboxLabel main_street_input" id="{{data.id}}" value="1" />
                    <label for="{{data.id}}"></label>
                </div>
                <img style="width:100%" ng-src="{{data.img}}">
                <p>{{data.name}}</p>
                <span>{{data.tag}}</span>
                <p><img src="assets/img/location.png">{{data.location}}</p>
            </div>
        </div>
    </div> -->
    <div class="section-box row container-fluid">
        <div class="jobinterest-wrapper">
            <h1>สนใจสมัครงาน</h1>
            <p>ผู้เชี่ยวชาญด้านภาษา ล่าม นักแปล ครูสอนภาษา</p>
            <p>ติวเตอร์ ไกด์ พิธีกร MC ที่ปรึกษา</p>
            <button class="btn btn-action">สมัครงาน</button>
        </div>
    </div>
    <div class="section-box container-fluid" ng-repeat="ex in experts  | limitTo: (2 - experts.length)">
        <div class="col-lg-12">
            <h1 class="head-section-margin">{{ex.jobType.name[lang]}}<span class="see-all-wrap float-r"><a ng-href="/#/experts{{ex.jobType._id}}" class="btn btn-more">ดูทั้งหมด ></a></span></h1>
            <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in ex.experts | limitTo: 5">
                <div class="amPmCheckbox">
                    <input type="checkbox" class="checkboxLabel main_street_input" id="{{data._id}}" value="1" />
                    <label for="{{data._id}}"></label>
                </div>
                <a ng-href="/#/experts-detail{{data._id}}">
                <img style="width:100%" height="278px"ng-src="{{data.profileImg[0].url}}">
                <p class="experts-name">{{data.name}}</p>
                <span class="experts-tag">{{data.tag.name[lang]}}</span>
                <div class="experts-rating" ng-if="data.rating===0">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===1">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===2">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===3">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===4">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===5">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                </div>
                <p><img src="assets/img/location.png">{{data.location | getDistance}} km {{data.location.name}}</p>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="section-box row container-fluid">
        <div class="col-lg-12">
            <h1 class="head-section-margin">ติวเตอร์<span class="see-all-wrap float-r"><button class="btn btn-more">ดูทั้งหมด ></button></span></h1>
            <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in objects | limitTo: 5">
                <div class="amPmCheckbox">
                    <input type="checkbox" class="checkboxLabel main_street_input" id="{{data.id}}" value="1" />
                    <label for="{{data.id}}"></label>
                </div>
                <img style="width:100%" ng-src="{{data.img}}">
                <p>{{data.name}}</p>
                <span>{{data.tag}}</span>
                <p><img src="assets/img/location.png">{{data.location}}</p>
            </div>
        </div>
    </div> -->
    <!-- <div class="section-box row container-fluid">
        <div class="col-lg-12">
            <h1 class="head-section-margin">ครูสอนภาษา<span class="see-all-wrap float-r"><button class="btn btn-more">ดูทั้งหมด ></button></span></h1>
            <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in objects | limitTo: 5">
                <div class="amPmCheckbox">
                    <input type="checkbox" class="checkboxLabel main_street_input" id="{{data.id}}" value="1" />
                    <label for="{{data.id}}"></label>
                </div>
                <img style="width:100%" ng-src="{{data.img}}">
                <p>{{data.name}}</p>
                <span>{{data.tag}}</span>
                <p><img src="assets/img/location.png">{{data.location}}</p>
            </div>
        </div>
    </div> -->
</section>
<aside data-ng-include="'/modules/footers/views/footer.html'"></aside> 