<aside data-ng-include="'/modules/topbars/views/topbar5.html'"></aside>  
<section class="margin-for-topbar-5">
<div class="section-box row container">
    <div class="col-lg-12 expt-detail-title">
        <div class="col-sm-7 col-md-7 col-lg-7 expt-detail-title-cover-left">
            <h2>{{datadetail.name}}</h2>
            <span class="expt-detail-title-span">{{datadetail.tag}}</span>
            <span style="letter-spacing:-5px;">
                <img src="assets/img/rating-active.png">
                <img src="assets/img/rating-active.png">
                <img src="assets/img/rating-active.png">
                <img src="assets/img/rating.png">
                <img src="assets/img/rating.png">
            </span>
            <p><img src="assets/img/location.png">{{datadetail.location}}</p>
        </div>
        <!-- <div  class="col-sm-5 col-md-5 col-lg-5">
            <div class="tab-price-overlay"></div>
            <img style="width:100%" ng-src="{{datadetail.img}}">
        </div>   -->
    </div>
</div>
<div class="section-box row container">
    <div class="col-lg-12">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p class="expt-detail-des-title">รายละเอียด</p>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <p class="expt-detail-des-body">you have a skillet that came  from you mom, and before that you grandma, and has now
                    fallen into your hands. so how do you take care of it.
                </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p class="expt-detail-des-title">ประสบการณ์</p>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <p class="expt-detail-des-body">you have a skillet that came  from you mom, and before that you grandma, and has now
                    fallen into your hands. so how do you take care of it.
                </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p class="expt-detail-des-title">การศึกษา</p>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <p class="expt-detail-des-body">you have a skillet that came  from you mom, and before that you grandma, and has now
                    fallen into your hands. so how do you take care of it.
                </p>
            </div>
        </div>
        <div  style="margin-top:-180px;" class="col-sm-5 col-md-5 col-lg-5">
            <div class="tab-price-overlay"><span>฿ 3,000 <b>ต่อชั่วโมง</b></span></div>
            <img width="350px" ng-src="{{datadetail.img}}">
        </div>
        <div  style="margin-top:20px;" class="col-offset-xs-8 col-offset-sm-8 col-offset-md-8 col-offset-lg-8 col-sm-5 col-md-5 col-lg-54">
            <div class="expt-checboxfav">
                <input type="checkbox" class="checkboxLabel main_street_input" id="id02" value="1">
                <label for="id02"></label>
            </div>
            <p class="expt-save-fav-p">Save to favorite <button class="btn btn-action-chatbrief"><img src="assets/img/chat.png">แชทและบรีฟงาน</button></p>
        </div>  
    </div>
</div>
<div class="section-box row container">
    <div class="col-sm-12 col-md-12 col-lg-12">
    <h2 class="amount-review">28 รีวิว</h2>
    </div>
    <div style="margin-bottom:50px;"class="col-sm-7 col-md-7 col-lg-7" ng-repeat="review in review">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img class="thmnail-review" ng-src="{{review.img}}">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h2 class="name-review">{{review.name}}</h2>
            </div>
            <div class="col-offset-xs-6 col-offset-sm-6 col-offset-md-6 col-offset-lg-6 col-sm-6 col-md-6 col-lg-6">
                <p>{{review.point}}</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p>{{review.review}}</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <center>
                    <button class="btn btn-more">ดูรีวิวทั้งหมด</button>
            </center>
        </div>
    </div>
</div>
<div class="section-box row container">
    <div class="col-lg-12">
        <h1 class="head-section-margin">ผลงาน</h1>
        <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in objects | limitTo: 5">
            <img style="width:100%" ng-src="{{data.img}}">
            <p>ผลงาน</p>
        </div>
    </div>
</div>
<div class="section-box row container">
    <div class="col-lg-12">
        <h1 class="head-section-margin">ล่าม<span class="see-all-wrap float-r"><button class="btn btn-more">ดูทั้งหมด ></button></span></h1>
        <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in objects | limitTo: 5">
            <div class="amPmCheckbox">
                <input type="checkbox" class="checkboxLabel main_street_input" id="{{data.id}}" value="1" />
                <label for="{{data.id}}"></label>
            </div>
            <img style="width:100%" ng-src="{{data.img}}">
            <p>{{data.name}}</p>
            <span>{{data.tag}}</span>
            <p><img src="assets/img/location.png">{{data.location}}</p>
        </div>
    </div>
</div>
</section>