<aside data-ng-include="'/modules/topbars/views/topbar4.html'"></aside>  
<section class="margin-for-topbar-main">
    <div class="section-box row container-fluid experts-cre-sec-sup">
        <h1>ประวัติงาน</h1>
        <button class="btn btn-action">เพิ่มประวัติ</button>
    </div>
    <div class="section-box row container-fluid help-sec-faq"> 
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <div class="form-group">
                    <div class="row form-group experts-cre-fg">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label class="experts-cre-label">ชื่อประวัติ</label>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" placeholder="ชื่อโพสงาน และ รายละเอียดเบื้องต้น" class="form-control input-size-box">
                        </div>
                    </div>
                    <div class="row form-group experts-cre-fg">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label class="experts-cre-label">ราคา</label>
                        </div>
                        <div class="ccol-sm-9 col-md-9 col-lg-9">
                            <input class="form-control jobsex-price input-size-box" type="text" placeholder="3000">
                        </div>
                    </div>
                    <div class="row form-group experts-cre-fg">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label class="experts-cre-label">รูปแบบงาน</label>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <div class="type-radio-jobsex">
                                <input type="radio" name="optradio" id="radio1"><label for="radio1">ต่อชั่วโมง</label>
                                <input type="radio" name="optradio" id="radio2"><label for="radio2">ต่อวัน</label>
                                <input type="radio" name="optradio" id="radio3"><label for="radio3">ต่องาน</label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group experts-cre-fg">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label class="experts-cre-label">รายละเอียด</label>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <textarea style="resize:none;"rows="4" cols="40"></textarea>
                        </div>
                    </div>
                    <div class="row form-group experts-cre-fg">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label class="experts-cre-label">ประสบการณ์</label>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <textarea style="resize:none;"rows="4" cols="40"></textarea>
                        </div>
                    </div>
                    <div class="row form-group experts-cre-fg">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label class="experts-cre-label">การศึกษา</label>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <textarea style="resize:none;"rows="4" cols="40"></textarea>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<aside data-ng-include="'/modules/footers/views/footer.html'"></aside> 