<!-- <div class="row container"> -->
<div class="col-sm-12 col-md-12 col-lg-12  footer-wrapper">
    <div class="col-sm-4  col-md-4 col-lg-4">
        <img src="assets/img/logo_senseino.png" alt="">
        <p translate="FOOTER.TITLE"></p>

        <li class="dropdown sort-dropdown styled-dropdown" uib-dropdown>
            <a class="dropdown-toggle" uib-dropdown-toggle role="button">
                <span><img ng-src="{{imglang}}">&nbsp;&nbsp;{{lang | uppercase}}</span>
            <b class="glyphicon glyphicon-triangle-bottom ic-dropdown"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
            <li>
                <a ng-click="chgLang('th')"><img src="assets/img/th.png">&nbsp;&nbsp;TH</a>
            </li>
            <li>
                <a ng-click="chgLang('en')"><img src="assets/img/en.png">&nbsp;&nbsp;EN</a>
            </li>
            <li>
                <a ng-click="chgLang('cn')"><img src="assets/img/cn.png">&nbsp;&nbsp;CN</a>
            </li>
            <li>
                <a ng-click="chgLang('jp')"><img src="assets/img/jp.png">&nbsp;&nbsp;JP</a>
            </li>
            <li>
                <a ng-click="chgLang('kr')"><img src="assets/img/kr.png">&nbsp;&nbsp;KR</a>
            </li>
            </ul>
        </li>
    </div>
    <div class="col-sm-4  col-md-4 col-lg-4">
        <h1 class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 footer-link-title" translate="FOOTER.ABOUT-TITLE"></h1>
        <ul class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 footer-link">
            <li translate="FOOTER.ABOUT-PARA1"></li>
            <li translate="FOOTER.ABOUT-PARA2"></li>
            <li translate="FOOTER.ABOUT-PARA3"></li>
        </ul> 
    </div>
    <div class="col-sm-4  col-md-4 col-lg-4 ">
        <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-3 col-md-3 col-lg-3">
            <img  src="assets/img/Icon App.png" alt="">
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7 footer-right-col" >
            <h1 translate="FOOTER.DW-TITLE"></h1>
            <h2 translate="FOOTER.DW-PARA"></h2>
        </div>
        <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-12 col-md-12 col-lg-12 footer-img-right">
            <img class="" src="assets/img/Appstore.png" alt="">
            <img class="" src="assets/img/Playstore.png" alt="">
        </div>
    </div>
</div>
<div class="footer-bar" translate="FOOTER.BOTTOM-BAR"></div>
