<aside data-ng-include="'/modules/topbars/views/topbar6.html'"></aside>  
<section class="chat-section">
   <div class="chat-all-warpper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chat-head-wrapper">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-head-left">
            <h3>ข้อความ/ออเดอร์</h3>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 chat-head-msg">
            <h3>{{roomName}}</h3>
            <div ng-show="roomnotfound">คุณไม่เคยส่งหรือได้รับข้อความเลย</div>
            <!-- <h4>#ABCDE</h4> -->
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chat-wrapper-body">
        <div class="left-msg-warp col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div ng-show="roomnotfound">ไม่มีข้อความเลย</div>
            <div ng-click="entryRoom(room)" ng-class="{readmsg: room.isReaded===true}" class="one-msg-user" ng-repeat="room in chatRoom  track by $index">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-user-thumnail-left">
                    <!-- <img ng-if="checkRole[$index]==='expert'" width="48px" height="48px" ng-src="{{room[checkRole[$index]].thumbImgUrl}}"> -->
                    <img width="48px" height="48px" ng-src="{{room[checkRole[$index]].imgUrl}}">
                    <!-- <img ng-if="checkRole[$index]==='employer'" width="48px" height="48px" ng-src="{{room[checkRole[$index]].imgUrl}}"> -->
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left:0px;">
                    <!-- <h2 ng-if="checkRole[$index]==='expert'">{{room.expertUser.firstName}} {{room.expertUser.lastName}}</h2> -->
                    <h2 ng-class="{readnamechat: room.isReaded===true}" class="namechat">{{room[checkRole[$index]].firstName}} {{room[checkRole[$index]].lastName}}</h2>
                    <!-- <h2 ng-if="checkRole[$index]==='employer'">{{room[checkRole[$index]].firstName}} {{room[checkRole[$index]].lastName}}</h2> -->
                    <p ng-class="{readlastmsg: room.isReaded===true}" class="lastmsg-leftchat">{{room.lastMsg}}</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <!-- <h2>#ABCDE</h2> -->
                    <p style="margin-top:25%;" ng-if="room.state=== 1"><span class="btn state-ask">สอบถาม</span></p>
                    <p style="margin-top:25%;" ng-if="room.state=== 2"><span class="btn state-express">รอชำระเงิน</span></p>
                    <p style="margin-top:25%;" ng-if="room.state=== 3"><span class="btn state-work">ทำงาน</span></p>
                    <p style="margin-top:25%;" ng-if="room.state=== 4"><span class="btn state-ask">รีวิว</span></p>
                    <p style="margin-top:25%;" ng-if="room.state=== 5"><span class="btn state-work">เสร็จสิ้น</span></p>
                    <p style="margin-top:25%;" ng-if="room.state=== 0"><span class="btn state-express">งานด่วน</span></p>
                </div>
            </div>
        </div>
        <div id="chatScroll" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 chat-msg-body" scroll>
            <div ng-if="isReachtop">
                <center>
                    <img width="32px"src="assets/img/ajax-loader.gif">
                </center>
            </div>
            <ol class="chat" >
                <div ng-repeat="msg in chatMsg">
                    <li ng-if="msg.user._id != userId" class="other">
                        <div class="avatar"><img ng-src="{{msg.user.imgUrl}}" draggable="false"></div>
                        <div ng-if="msg.action==='system'" class="msgsys">
                            <p ng-if="msg.type==='message'">{{msg.message}}</p>
                            <img ng-if="msg.type==='image'" ng-src="{{msg.message}}">
                        </div>
                        <div ng-if="msg.action==='quotation'" class="msg">
                            <p ng-if="msg.type==='message'">{{msg.message}}
                                <button style="display:block;" class="btn btn-action" ng-click="viewOfferPrice(roomDataG)">ดูรายละเอียดใบเสนอราคา</button>
                            </p>
                            <img ng-if="msg.type==='image'" ng-src="{{msg.message}}">
                        </div>
                        <div ng-if="msg.action==='handOver'" class="msg">
                            <p ng-if="msg.type==='message'">{{msg.message}}
                                <button style="display:block;" class="btn btn-action" ng-click="viewOfferPrice(roomDataG)">ดูรายละเอียดและตอบรับ</button>
                            </p>
                            <img ng-if="msg.type==='image'" ng-src="{{msg.message}}">
                        </div>
                        <div ng-if="msg.action===null" class="msg">
                            <p ng-if="msg.type==='message'">{{msg.message}}</p>
                            <img ng-if="msg.type==='image'" ng-src="{{msg.message}}">
                        </div>
                    </li>
                    <li ng-if="msg.user._id === userId" class="self">
                        <!-- <div class="avatar"><img ng-src="{{msg.user.imgUrl}}" draggable="false"></div> -->
                        <div ng-if="msg.action==='system'" class="msgsys">
                            <p ng-if="msg.type==='message'">{{msg.message}}</p>
                            <img ng-if="msg.type==='image'" ng-src="{{msg.message}}">
                        </div>
                        <div ng-if="msg.action==='quotation'" class="msg">
                            <p ng-if="msg.type==='message'">{{msg.message}}
                                <button style="display:block;" class="btn btn-action" ng-click="viewOfferPrice(roomDataG)">ดูรายละเอียดใบเสนอราคา</button>
                            </p>
                            <img ng-if="msg.type==='image'" ng-src="{{msg.message}}">
                        </div>
                        <div ng-if="msg.action==='handOver'" class="msg">
                            <p ng-if="msg.type==='message'">{{msg.message}}
                                <button style="display:block;" class="btn btn-action" ng-click="viewOfferPrice(roomDataG)">ดูรายละเอียดานและตอบรับ</button>
                            </p>
                            <img ng-if="msg.type==='image'" ng-src="{{msg.message}}">
                        </div>
                        <div ng-if="msg.action===null" class="msg">
                            <p ng-if="msg.type==='message'">{{msg.message}}</p>
                            <img ng-if="msg.type==='image'" ng-src="{{msg.message}}">
                        </div>
                    </li>
                </div>
            </ol>
        </div>
        <div ng-if="roomnotfound" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-right-body">
            <div class="chat-title-right-ask"><h3><img src="assets/img/Group.png">&nbsp;</h3></div>
            <div class="chat-right-des">
               
            </div>
        </div>
        <div ng-if="Stateroom===1" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-right-body">
            <div class="chat-title-right-ask"><h3><img src="assets/img/Group.png">&nbsp;สอบถาม</h3></div>
            <div class="chat-right-des">
                <p>
                    {{Statemsg[lang]}}
                </p>
                <button ng-if="btnOffPrice" ng-click="OfferPrice(roomDataG)" class="btn btn-action-full">เสนอราคา</button>
            </div>
        </div>
        <div ng-if="Stateroom===2" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-right-body">
            <div class="chat-title-right-w8paid"><h3><img src="assets/img/Group.png">&nbsp;รอชำระเงิน</h3></div>
            <div class="chat-right-des">
                    <p>
                        {{Statemsg[lang]}}
                    </p>
                <button ng-click="viewOfferPrice(roomDataG)" class="btn btn-action-full">ดูรายละเอียดใบเสนอราคา</button>
            </div>
        </div>
        <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6 chat-msg-body-input">
            <textarea id="inputMsg" my-enter="chatPushMsg()" ng-model="msgsend" class="chatinput" row="10" cols="100%" placeholder="แจ้งรายละเอียดงานที่ต้องการ"></textarea>
            <div class="image-upload">
            <label for="file-input">
                <img src="assets/img/chatfile.png" style="pointer-events: none"/>
            </label>
            <input id="file-input" type="file" onchange="angular.element(this).scope().ChatupFile(this.files)" >
            </div>     
        </div>
    </div>
   </div>
   <script type="text/ng-template" id="offerPriceModal.html">
    <div class="modal-header modal-regis-header">
        เสนอราคา
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group form-g-login-modal">
            <form ng-submit="creQT()" name="expertsCreate" autocomplete="off">
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>ชื่องาน</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input ng-model="workname" type="text" placeholder="ชื่อโพสงาน และ รายละเอียดเบื้องต้น" class="form-control input-size-box" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>ราคา</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input ng-model="workprice" class="form-control jobsex-price input-size-box" type="number" placeholder="3000" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>รูปแบบงาน</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="type-radio-jobsex" ng-init="workjobunit='hour'">
                        <input type="radio" name="optradio" ng-model="workjobunit" value="hour" id="radio1"><label for="radio1">ต่อชั่วโมง</label>
                        <input type="radio" name="optradio" ng-model="workjobunit" value="day" id="radio2"><label for="radio2">ต่อวัน</label>
                        <input type="radio" name="optradio" ng-model="workjobunit" value="job" id="radio3"><label for="radio3">ต่องาน</label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>รายละเอียด</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <textarea ng-model="workdes" style="resize:none;"rows="4" cols="40" required></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-md-9 col-lg-9">
                   <button type="submit" class="btn-action-jobexpress btn" style="width:100%;">เสนอราคา</button>
                </div>
            </div>
            </form>
        </div>
</script>
<script type="text/ng-template" id="viewOfferPriceModal.html">
    <div class="modal-header modal-regis-header">
        ใบเสนอราคา
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="title-vqt">
        <label>{{vQT.name[lang]}}</label>
    </div>
    <div class="body-vqt" id="modal-body">
        <div style="margin-bottom:50px;"><p>{{vQT.detail[lang]}}</p></div>
        <div class="price-vqt">
            <h2>ราคา<span><div class="crrc">฿</div> {{vQT.price}}</span></h2>
            <p>{{vQT.priceType}}</p>
        </div>
        <button style="margin-top:30px;font-size:22px;" ng-click="paid()" class="btn btn-action-full">ชำระเงิน</button>
        
    </div>
</script>
<script type="text/ng-template" id="paidModal.html">
    <div class="modal-header modal-regis-header">
        ชำระเงิน
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="body-vqt" id="modal-body">
        <div class="row form-group">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label>{{vQT.name[lang]}}</label>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label style="float:right;">{{vQT.price}}</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label>คูปอง</label>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" placeholder="CODE" class="form-control input-size-box">
            </div>
        </div>
        
    </div>
    <div class="title-vqt">
        <div class="row form-group">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label>รวมยอด</label>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label style="float:right;"><div class="crrc">฿</div>{{vQT.price}}</label>
            </div>
        </div>
    </div>
    <div class="body-vqt" id="modal-body">
        <div class="row form-group">
            <center>
            <h1>เลือกช่องทางการชำระเงิน</h1>
            <div class="type-radio-jobsex" >
                <input type="radio" name="optradio" ng-model="user.jobunit" value="ต่อชั่วโมง" id="radio1" class="ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false"><label for="radio1">บัตรเครดิต/เดบิต </label>
                <input type="radio" name="optradio" ng-model="user.jobunit" value="ต่อวัน" id="radio2" class="ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false"><label for="radio2">บัญชีธนาคาร</label>
            </div>
            <button style="margin-top:30px;font-size:22px;" ng-click="checkpaid()" class="btn btn-action-full">ชำระเงิน</button>
            </center>
        </div>
    </div>
</script>
<script type="text/ng-template" id="checkpaidModal.html">
    <div class="modal-header modal-regis-header">
        ชำระเงินผ่านช่องทางธนาคาร
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="title-vqt">
        <div class="row form-group">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label>{{vQT.name[lang]}}</label>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label style="float:right;"><div class="crrc">฿</div>{{vQT.price}}</label>
            </div>
        </div>
    </div>
    <div class="body-vqt" id="modal-body">
        <div class="row form-group">
            <center>
            <h1>ชำระเงิน โดยการโอนเงินผ่านธนาคาร</h1>
            </center>
        </div>
        <div class="row form-group bank-wrap">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="assets/img/bank.png">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8" style="text-align:left;">
                <p>บริษัท เซนเซโนะ จำกัด</p>
                <p>ธนาคารทหารไทย</p>
                <p>บัญชีเลขที่ 266-2-04468</p>
            </div>
        </div>
        <div class="row form-group bank-wrap">
            <div class="input-slip">
                <span class="btn btn-slip">
                    <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)" multiple>
                    <p class="txt-slip">อัพโหลดหลักฐานการโอน</p>
                </span>
            </div>
        </div>
        <button style="margin-top:30px;font-size:22px;" ng-click="" class="btn btn-action-full">ยืนยันการชำระเงิน</button>
    </div>
</script>
</section>
