<aside data-ng-include="'/modules/topbars/views/topbar5.html'"></aside>  
<section class="margin-for-topbar-5">
   <div class="section-box container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chat-head-wrapper">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-head-left">
            <h3>ข้อความ/ออเดอร์</h3>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 chat-head-msg">
            <h3>Senseino Consultant</h3>
            <h4>#ABCDE</h4>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chat-wrapper-body">
        <div style="padding:0px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="one-msg-user">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-user-thumnail-left">
                    <img src="assets/img/Icon App.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h2>Senseino Consultant</h2>
                    <p>ต้องการจ้างงานด่วน...</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <h2>#ABCDE</h2>
                    <p><span class="btn tag-category">งานด่วน</span></p>
                </div>
            </div>
            <div class="one-msg-user">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-user-thumnail-left">
                    <img src="assets/img/Icon App.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h2>Senseino Consultant</h2>
                    <p>ต้องการจ้างงานด่วน...</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <h2>#ABCDE</h2>
                    <p><span class="btn tag-category">งานด่วน</span></p>
                </div>
            </div>
            <div class="one-msg-user">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-user-thumnail-left">
                    <img src="assets/img/Icon App.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h2>Senseino Consultant</h2>
                    <p>ต้องการจ้างงานด่วน...</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <h2>#ABCDE</h2>
                    <p><span class="btn tag-category">งานด่วน</span></p>
                </div>
            </div>
            <div class="one-msg-user">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-user-thumnail-left">
                    <img src="assets/img/Icon App.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h2>Senseino Consultant</h2>
                    <p>ต้องการจ้างงานด่วน...</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <h2>#ABCDE</h2>
                    <p><span class="btn tag-category">งานด่วน</span></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 chat-msg-body">
            <p><img src="assets/img/Icon App.png">สวัสดีค่ะ</p>
            <p style="float:right;">hydroderm is the highly desired anti-aging cream on the block.</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 chat-right-body">
            <div class="chat-title-right"><h3><img src="assets/img/Group.png">&nbsp;เริ่มทำงาน</h3></div>
        </div>
        <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6 chat-msg-body">
            <textarea row="10" cols="100%" style="resize:none;">
            </textarea>
        </div>
    </div>
   </div>
</section>