<aside data-ng-include="'/modules/topbars/views/topbar4.html'"></aside>  
<section class="margin-for-topbar-main">
<div class="section-box row container-fluid">
    <div class="overlay-green row container"></div>
    <h1 class="head-section-jobs">Jobs<span class="float-r-jobs"><button ng-click="jobspostModal()" class="btn btn-more"><img src="assets/img/ic_post.png">&nbsp;&nbsp;โพสงาน</button></span></h1>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "> 
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  job-tumbnail-repeat-col" ng-repeat="data in jobstumbnail">
            <img style="width:100%;margin-bottom:10px" ng-src="{{data.img}}">
        </div>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-left:0px;"> 
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 job-post-repeat-col" ng-repeat="data in postjob" style="padding-left:0px;">
            <div class="job-post-wrapper" ng-click="jobsModal(data)">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    {{data.topic}}&nbsp;
                    <div  class="status-new" ng-if="data.status=='NEW'"><span>{{data.status}}</span></div>
                    <div  class="status-prog" ng-if="data.status=='IN PROGRESS'"><span>{{data.status}}</span></div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <p class="job-price">
                    <span class="currency-ssn">$</span>
                    {{data.price}}
                    </p>
                    <p class="job-unit">
                    {{data.unit}}
                    </p>     
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <button class="btn tag-category" ng-repeat="tagg in data.tag">{{tagg}}</button>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align:right;">
                    <p class="job-name">{{data.name}} </p>
                    <img class="jobs-tumbnail-poster" ng-src="{{data.pic}}">  
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="jobModal.html">
    <div class="modal-header job-modal-header">
        รายละเอียด
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="modal-body job-modal-body" id="modal-body">
        <div class="job-topic-cover row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{jobdatas.topic}}&nbsp;
                <div class="status-new" ng-if="jobdatas.status=='NEW'"><span>{{jobdatas.status}}</span></div>
                <div class="status-prog" ng-if="jobdatas.status=='IN PROGRESS'"><span>{{jobdatas.status}}</span></div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <p class="job-price">
                <span class="currency-ssn">$</span>
                {{jobdatas.price}}
                </p>
                <p class="job-unit">
                {{jobdatas.unit}}
                </p>     
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <button class="btn tag-category" ng-repeat="tagg in jobdatas.tag">{{tagg}}</button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align:right;">
                <p class="job-name">{{jobdatas.name}} </p>
                <img class="jobs-tumbnail-poster" ng-src="{{jobdatas.pic}}">  
            </div>
        </div>
        <div class="job-detail-cover row">
            <h2>รายละเอียด</h2> 
            <p>You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.
                So how do you take care of it, use it, clean it, and get the best taste possible from it? I hope to answer
                some of those questions in this article.
                I love my cast iron skillets, passed down from my Mom, I remember her using them to make delicious
            </p>
        </div>
    </div>
    <div class="modal-footer job-modal-footer">
        <button class="btn dialog-action btn-action" type="button" ng-click="confirmDeleteWidget()"><img src="assets/img/chat.png">&nbsp;&nbsp;แชทเสนอราคา</button>
    </div>
</script>
<script type="text/ng-template" id="่jobspostModal.html">
    <div class="modal-header modal-jobspost-header">
        โพสงาน
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group form-g-login-modal">
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>ชื่องาน</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" placeholder="ชื่อโพสงาน และ รายละเอียดเบื้องต้น" class="form-control input-size-box">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>ประเภทงาน</label>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <select class="form-control input-size-box">
                        <option value="" disabled selected>--เลือกประเภทงาน--</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <select class="form-control input-size-box">
                        <option value="" disabled selected>--ภาษา--</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>ราคา</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control jobsex-price input-size-box" type="text" placeholder="3000">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>รูปแบบงาน</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="type-radio-jobsex">
                        <input type="radio" name="optradio" id="radio1"><label for="radio1">ต่อชั่วโมง</label>
                        <input type="radio" name="optradio" id="radio2"><label for="radio2">ต่อวัน</label>
                        <input type="radio" name="optradio" id="radio3"><label for="radio3">ต่องาน</label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>รายละเอียด</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <textarea style="resize:none;"rows="4" cols="40"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>ข้อมูลติดต่อ</label>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <input class="form-control jobsex-tel input-size-box" type="text" placeholder="เบอร์โทร">
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <input class="form-control jobsex-line input-size-box" type="text" placeholder="Line ID">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label></label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                   <button class="btn-action-jobspost btn" style="width:100%;">โพสงาน</button>
                </div>
            </div>
    </div>
</script>
</section>
<aside data-ng-include="'/modules/footers/views/footer.html'"></aside> 