.wrap {
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
   }

  .tint {
    position: relative;
    float: left;
    cursor: pointer;
  }
  
  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250, 27, 37, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
.textcover-img{
    left: 0;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    color: #FFF;
    font-family: 'promptmedium';
    font-size: 18px;
}
.jobinterest-wrapper{
  text-align: center;
  background: rgba(250, 27, 37, 0.1);
  color: #484848;
  padding: 30px;
}
.jobinterest-wrapper>h1{
  color: #FA1B25;
  font-size: 24px;
}
.jobinterest-wrapper>p{
  margin: 0px;
}
.jobinterest-wrapper>button{
  margin-top: 20px;
  padding: 10px 40px;
  font-size: 20px;
}
.expt-detail-title{
  height: 180px;
  background: rgba(23, 184, 154, 0.5);
  padding: 45px;
  /* padding-bottom: 20px; */
}
.expt-detail-title-cover-left > h2{
 color: #fff;
 font-size: 26px;
 margin-top: 0px;
}
.expt-detail-title-span{
  background-color: #fff;
  border-radius: 2px;
  padding: 0px 10px;
  color: #17B89A;
  font-size: 12px;
}
.expt-detail-title-cover-left > p{
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
 }
 .expt-detail-des-title{
  font-family: 'promptmedium';
  font-size: 20px;
 }
 .expt-detail-des-body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: medium;
  margin-bottom: 80px;
  line-height: 28px;
 }
 .tab-price-overlay{
  position: absolute;
  height: 50px;
  bottom: 0;
  width: 350px;
  z-index: 9;
  background:rgba(250, 27, 37, 0.5)
}
.tab-price-overlay > span {
  font-size: 18px;
  color: #fff;
  left: 20px;
  top: 10px;
  position: absolute;
}
.tab-price-overlay > span > b{
  font-size: 12px;
  font-family: 'promptlight'
}
.btn-action-chatbrief{
  background-color: #FA1B25;
  color: #fff;
  box-shadow: 0 0 10px -1px #666;
  padding: 5px 30px;
  margin-left:20px;
}
.btn-action-chatbrief, .btn-action-chatbrief:hover, .btn-action-chatbrief:active, .btn-action-chatbrief:focus, .btn-action-chatbrief:visited {
  outline: none!important;
}
.expt-save-fav-p{
  font-size: 12px;
  letter-spacing: 0.5px;
  display: inline;
}

.expt-checboxfav{
	float: left;
  display: inline;
  margin-top: 5px;
}
.expt-checboxfav input[type="checkbox"] {
    display: none;
}
.expt-checboxfav input[type="checkbox"]+label {    
    background: url('../img/favoritered.png') no-repeat;
    height:32px;
    width: 32px;
}
.expt-checboxfav input[type="checkbox"]:checked + label {
    background: url('../img/favoriteredactive.png')  no-repeat;
    height:32px;
}
.thmnail-review{
  display: inline;
  border-radius: 50%;
  max-width: 50px;
}
.name-review{
  margin-top: 0px;
}
.amount-review{
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 40px;
}

.experts-cre-sec-sup {
  background: rgba(250, 27, 37, 0.1);
  text-align: center;
  padding: 50px 150px;
  color: #fff;
}
.experts-cre-sec-sup > h1{
  display: inline-block;
  float: left;
  font-size: 32px;
  color: #484848;
  margin: 0px;
  
}
.experts-cre-sec-sup > button{
  display: inline-block;
  float: right;
  font-size: 22px;
  padding: 10px 60px;
}
.experts-cre-label{
  font-size: 18px;
  font-family: 'promptregular'
}
.experts-cre-fg{
  margin-bottom: 50px;
}
.experts-modal-body{
  height: 400px;
  overflow-y: scroll;
}