/* Start Font Face */
@font-face {
	font-family: 'promptextralight';
	src: url('../font/subset-Prompt-ExtraLight.eot');
	src: url('../font/subset-Prompt-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../font/subset-Prompt-ExtraLight.woff2') format('woff2'),
		url('../font/subset-Prompt-ExtraLight.woff') format('woff'),
		url('../font/subset-Prompt-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'promptmedium';
	src: url('../font/subset-Prompt-Medium.eot');
	src: url('../font/subset-Prompt-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/subset-Prompt-Medium.woff2') format('woff2'),
		url('../font/subset-Prompt-Medium.woff') format('woff'),
		url('../font/subset-Prompt-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'promptbold';
	src: url('../font/subset-Prompt-Bold.eot');
	src: url('../font/subset-Prompt-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/subset-Prompt-Bold.woff2') format('woff2'),
		url('../font/subset-Prompt-Bold.woff') format('woff'),
		url('../font/subset-Prompt-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'promptsemibold';
	src: url('../font/subset-Prompt-SemiBold.eot');
	src: url('../font/subset-Prompt-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../font/subset-Prompt-SemiBold.woff2') format('woff2'),
		url('../font/subset-Prompt-SemiBold.woff') format('woff'),
		url('../font/subset-Prompt-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'promptregular';
	src: url('../font/subset-Prompt-Regular.eot');
	src: url('../font/subset-Prompt-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/subset-Prompt-Regular.woff2') format('woff2'),
		url('../font/subset-Prompt-Regular.woff') format('woff'),
		url('../font/subset-Prompt-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* End Font Face */
html{
	background-color: #fff;
	/* max-width: 1200px; */
	margin: 0 auto;
}
body{
    font-family: 'promptregular';
    color: #484848;
}
h1{
	font-size: 19px;
}
h2{
	font-size: 14px;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


.ulcarousel{
	width: 1200px;
	height: 400px;
}
.btn-action, .btn-action:hover, .btn-action:active, .btn-action:focus, .btn-action:visited{
	outline: none!important;
}
.btn-action{
    background-color: #FA1B25;
    color: #fff;
	box-shadow: 0 0 10px -1px #666;
	padding: 10px 30px;
	font-family: 'promptregular';
}
.btn-action:hover{
    background-color: #FA1B25;
    color: #fff;
    box-shadow: 0 0 10px -1px #666
}
.btn-more{
	background-color: #feebec;
    color: #FA1B25;
	padding: 5px 5px;
	font-family: 'promptmedium';
	font-size: 12px;
}
.btn-more:hover{
    background-color: #feebec;
    color: #FA1B25;
}
.float-r{
	float: right;
}
.currency-ssn{
	color: #FA1B25;
}
.tag-category{
	border: 1px solid #17B89A;
	background-color: #fff;
	color: #17B89A;
	padding: 3px 5px;
	margin-right: 5px;
}
.tag-category:hover{
	border: 1px solid #17B89A;
	background-color: #fff;
	color: #17B89A;
	padding: 3px 5px;
}
.backtotop,.backtotop:hover,.backtotop:active,.backtotop:focus{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	color: #FFF;
	background-color: #FA1B25;
	position: absolute;
	right: 0;
    margin-top: 115px!important;
	margin-right: 100px;
	outline: none;
}
.footer-wrapper{
	background-color: #F4F4F4;
	padding: 30px 20px;
}
.footer-bar{
	clear: both;
	text-align: center;
	background-color: #082944;
	color: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 20px;
}
.footer-link-title{
	color: #FA1B25;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 25px;
	font-weight: bold;
	padding-left: 40px;
}
ul.footer-link{
	color: #484848;
	list-style-type: none;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
ul.footer-link>li{
	margin-bottom: 12px;
	cursor: pointer;
}

.styled-dropdown,.styled-dropdown:focus{
	border: 1px solid #ccc;
	width: 120px;
	background-color: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 5px;
	outline: none;
	padding: 10px;
	list-style-type: none;
}
.styled-dropdown>a{
	text-decoration: none;
	font-size: 16px;
	color: #000;
}
.ic-dropdown{
	float: right;
	padding-top: 6px;
}
.footer-right-col{
	padding: 0px;
}
.footer-right-col>h1{
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
.footer-right-col>h2{
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
.footer-img-right{
	clear: both;
	padding-left:20px;
	padding-top: 10px;
}
.amPmCheckbox{
	position: absolute;
	right: 15px;
	top: 5px;
}
.amPmCheckbox input[type="checkbox"] {
    display: none;
}
.amPmCheckbox input[type="checkbox"]+label {    
    background: url('../img/rating.png') no-repeat;
    height:17px;
    width: 20px;
}
.amPmCheckbox input[type="checkbox"]:checked + label {
    background: url('../img/rating-active.png')  no-repeat;
    height:17px;
}