.btn-action{
    background-color: #FA1B25;
    color: #fff;
    box-shadow: 0 0 10px -1px #666
}
.btn-action:hover{
    background-color: #FA1B25;
    color: #fff;
    box-shadow: 0 0 10px -1px #666
}