.topbar-wrapper {
    padding-top: 20px;
    border-bottom: 1px solid #f4f4f4;
    clear: both;
}
.topbar-wrapper-sub{
    padding:10px;
    padding-bottom: 0px;
    border-bottom: 1px solid #F4F4F4;
}
.topbar-left {
    float: left;
}
.topbar-right {
    float: right;
}
ul.topbar-menu,ul.topbar-menu-sub{
    padding: 0px;
}
ul.topbar-menu-sub{
    margin-bottom: 0px;
}
ul.topbar-menu-sub > li > a{
    text-decoration: none!important;
    color: #484848;
}
ul.topbar-menu > li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
ul.topbar-menu-sub > li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFF;
}
ul.topbar-menu-sub > li:hover {
    color: #FA1B25;
    border-bottom: 2px solid #FA1B25;
}
.topbar-sub-left{
    float: left;
}
.topbar-sub-right{
    float: right;
    font-size: 12px;
}
.topbar-sub-right>p{
    margin-right: 10px;
    margin-bottom: 0px;
}

/* JK CAROUSEL */
.jk-carousel .md-icon-button {
    display: none;
}
.jk-carousel .radio-buttons-container md-radio-button .md-off {
    background-color: #d5d5d5;
    border: 0px;
}
md-radio-button .md-off, md-radio-button .md-on{
    width: 10px;
    height: 10px;
}
md-radio-button.md-checked .md-on{
    transform: scale(1);
    box-shadow: 0 0 10px -1px #666;
}
md-radio-button.md-default-theme .md-on, md-radio-button .md-on{
    background-color : #FA1B25;
}