<aside data-ng-include="'/modules/topbars/views/topbar2.html'"></aside>  
<section class="margin-for-topbar-2">
    <div class="section-box row container customer-wrapper-enterprise">
        <div class=" row container"></div>
        <h1>Senseino Enterprise Solutions</h1>
        <p>บริการ Outsource ผู้เชี่ยวชาญด้านภาษา สำหรับองค์กรธุรกิจ</p>
        <button class="btn-action btn">ติดต่อเรา</button>
    </div>
    <div class="section-box row container">
        <div class="col-lg-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <img src="https://via.placeholder.com/400x260">
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ctm-sec-ogservice">
            <h2>บริการสำหรับองค์กร</h2>
            <p>Senseino Enterprise คัดเลือกนักภาษาที่เก่งและมีความรับผิดชอบสูงสุด จากฐานข้อมูลของเรา เพื่อทำงานให้ท่าน 
                พร้อมทั้งมีที่ปรึกษาคอยดูแลและเป็นสื่อกลางให้ตลอดทุกขั้นตอนการทำงาน
            </p>
        </div>
    </div>
    <div class="section-box row container-fluid ctm-sec-special">
        <h1>สิทธิประโยชน์/สิ่งที่ลูกค้าจะได้รับ</h1>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/img/support.png">
            <h2>ได้นักภาษาคุณภาพและตรงเวลา</h2>
            <p>มั่นใจได้ว่าบุคคลากรที่รับงานจะมีคุณภาพและสามารถปฏิบัติงานได้ตรงเวลา</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/img/support.png">
            <h2>ได้นักภาษาคุณภาพและตรงเวลา</h2>
            <p>มั่นใจได้ว่าบุคคลากรที่รับงานจะมีคุณภาพและสามารถปฏิบัติงานได้ตรงเวลา</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/img/support.png">
            <h2>ได้นักภาษาคุณภาพและตรงเวลา</h2>
            <p>มั่นใจได้ว่าบุคคลากรที่รับงานจะมีคุณภาพและสามารถปฏิบัติงานได้ตรงเวลา</p>
        </div>
    </div>
    <div class="section-box row container-fluid">
        <div class="ctm-sec-testimonial">
            <h1>ลูกค้าของเรา</h1>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p>"This serum restricts the occurrence of early aging sings on the skin."</p>
                <img src="https://via.placeholder.com/100x100" alt=""><span>Ronnie Hole</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p>"You have a skillet that came from your momand before that your grandma."</p>
                <img src="https://via.placeholder.com/100x100" alt=""><span>Trevor Paul</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p>"And has now fallen have a skillet have a skillet into your hands."</p>
                <img src="https://via.placeholder.com/100x100" alt=""><span>Mark Warner</span>
            </div>
        </div>
        <div class="col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10 ctm-wrap-buss-ic">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-repeat="data in testimonials">
                <img src="{{data.img}}" class="testimonials-img">
            </div>
        </div>
    </div>
    <div class="ctm-sec-enterprise">
        <h1>Senseino Enterprise</h1>
        <p>บริการ Outsource ผู้เชี่ยวชาญด้านภาษา</p>
        <p style="margin-bottom:30px;">ล่าม นักแปล ครูสอนภาษา ไกด์ พิธีกร MC ที่ปรึกษา สำหรับลูกค้าองค์กรในราคาพิเศษ</p>
        <div><img src="assets/img/call.png"><span>092-4460222</span><img src="assets/img/jobs_line.png"><span>@SENSEINO</span></div>
    </div>
</section>