<div class="topbar-cover" ng-controller="TopbarController as vm">
    <div class="topbar-wrapper container-fluid">
        <div class="topbar-left">
            <a class="logo-main" ng-href="/#/"><img src="/assets/img/logo_senseino.png"></a>
            <input type="text" placeholder="Searcg by Location, Skills" my-enter="searchAPI()" ng-model="keyword" class="searchbar-top">
        </div>
        <div class="topbar-right">
            <ul class="topbar-menu">
                <li><a ng-href="/#/customers">ลูกค้าองค์กร</a></li>
                <li><a ng-href="/#/helps">ช่วยเหลือ</a></li>
                <li ng-click="loginModal()">เข้าสู่ระบบ</li>
                <li><button class="btn btn-action" ng-click="regis()">สมัครสมาชิก</button></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/ng-template" id="regisModal.html">
    <div class="modal-header modal-regis-header">
        สมัครสมาชิก
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="modal-body modal-regis-body" id="modal-body">
        <button ng-click="FBbtnLogin()" class="btn btn-regis-face"><img src="">สมัครสมาชิกด้วย Facebook</button>
        <button class="btn btn-regis-line"><img src="">สมัครสมาชิกด้วย LINE</button>
        <p>หรือ</p>
        <button class="btn btn-regis-email" ng-click="regisEmail()"><img src="">สมัครสมาชิกด้วยอีเมล</button>
        <p>มี Account แล้ว?&nbsp;&nbsp;<a ng-click="loginModal()" class="regis-login-btn">เข้าสู่ระบบ</a></p>
    </div>
</script>
<script type="text/ng-template" id="regisEmailModal.html">
    <div class="modal-header modal-regis-header">
        สมัครสมาชิก
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="modal-body modal-regis-body" id="modal-body">
<form ng-submit="submitEmailRegis()" name="regisForm" autocomplete="off">
    <div class="form-group form-g-regis-modal">
        <label>ชื่อ</label>
        <input type="text" ng-model="user.firstname" ng-pattern="/^[a-zA-Z\s]*$/" name="firstname" class="form-control" placeholder="ชื่อ" required ng-minlength="2"/>
        <label></label><span class="msg-form-err" ng-show="regisForm.$dirty && regisForm.firstname.$invalid">This is a required field </span>
    </div>
    <div class="form-group form-g-regis-modal">
        <label>นามสกุล</label>
        <input type="text" ng-model="user.lastname" ng-pattern="/^[a-zA-Z\s]*$/"  name="lastname" class="form-control" placeholder="นามสกุล" required ng-minlength="2"/>
        <label></label><span class="msg-form-err" ng-show="regisForm.$dirty && regisForm.lastname.$invalid">This is a required field</span>
    </div>
    <div class="form-group form-g-regis-modal">
        <label>เบอร์โทร</label>
        <input type="text" ng-model="user.tel" ng-pattern="/^[0-9]{10,10}$/"  name="tel" class="form-control" placeholder="089-999-9999" required ng-minlength="10"/>
        <label></label><span class="msg-form-err" ng-show="regisForm.$dirty && regisForm.tel.$invalid">This is a required field</span>
    </div>
    <div class="form-group form-g-regis-modal">
        <label>อีเมล</label>
        <input type="email" ng-model="user.email" name="email" class="form-control" placeholder="name@gmail.com" required ng-minlength="10"/>
        <label></label><span class="msg-form-err" ng-show="regisForm.$dirty && regisForm.email.$error.required">This is a required field</span>
    </div>
    <div class="form-group form-g-regis-modal">
        <label>รหัสผ่าน</label>
        <input type="password" ng-model="user.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" name="password" class="form-control" placeholder="รหัสผ่าน" required ng-minlength="10"/>
        <label></label><span class="msg-form-err" ng-show="regisForm.$dirty && regisForm.password.$error.required">This is a required field</span>
        <label></label><span class="msg-form-err" ng-show="regisForm.$dirty && regisForm.password.$invalid">This field is invalid </span><br/><br/>
        <span class="msg-form-err" ng-if="err===true">{{errmsg}}</span>
    </div>     
    <button class="btn btn-action" type="submit" ng-disabled="myForm.$invalid">สมัครสมาชิก</button>
</form>
</div>
</script>
<script type="text/ng-template" id="loginModal.html">
    <div class="modal-header modal-regis-header">
        เข้าสู่ระบบ
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="modal-body modal-regis-body" id="modal-body">
    <form ng-submit="submitEmailLogin()" name="loginForm" autocomplete="off" style="margin-bottom:20px;">
        <div class="form-group form-g-login-modal">
            <input type="text" ng-model="login.username" placeholder="อีเมล" class="form-control login-ip-email" required>
        </div>
        <div class="form-group form-g-login-modal">
            <input type="password" ng-model="login.password" placeholder="รหัสผ่าน" class="form-control" required>
            <a class="login-ip-fogetpass" href="">ลืมรหัสผ่าน?</a>
        </div> 
        <div class="form-group form-g-login-modal" ng-if="loginerr===true">
            <span class="msg-form-err" >{{loginerrmsg}}</span>
        </div> 
        <button class="btn btn-action-login" type="submit">เข้าสู่ระบบ</button>
    </form>
    <div class="form-group form-g-login-modal">
    <p class="line-behide"><span>หรือ เข้าสู่ระบบด้วย </span></p>
    <div class="login-modal-opt">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <a href="" class=""><img src="assets/img/btn_line.png"></a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <a href="" class=""><img src="assets/img/btn_fb.png"></a>
        </div>
    </div>
    <p>ยังไม่เป็นสมาชิก? <span class="login-modal-linkregis" ng-click="regis()">สมัครสมาชิก</span></p>
    </div>
    </div>
</script>