<div class="" ng-controller="TopbarController as vm">
    <div class="topbar-wrapper container-fluid">
        <div class="topbar-left">
            <img src="/assets/img/logo_senseino.png">
            <input type="text" placeholder="Searcg by Location, Skills">
        </div>
        <div class="topbar-right">
            <ul class="topbar-menu">
                <li><a ng-href="/#/customers">ลูกค้าองค์กร</a></li>
                <li><a ng-href="/#/helps">ช่วยเหลือ</a></li>
                <li>เข้าสู่ระบบ</li>
                <li><button class="btn btn-action">สมัครสมาชิก</button></li>
            </ul>
        </div>
    </div>
    <div class="topbar-wrapper-sub container-fluid">
        <div class="topbar-sub-left">
            <ul class="topbar-menu-sub">
                <li><a ng-href="/#/home">FOR YOU</a></li>
                <li><a ng-href="/#/experts">EXPERTS</a></li>
                <li><a ng-href="/#/jobs">JOBS</a></li>
                <li><a ng-href="/#/courses">COURSES</a></li>
            </ul>
        </div>
        <div class="topbar-sub-right">
            <p>ใช้งาน Senseino ได้ง่ายๆ ผ่านแอพ 
                <img src="assets/img/Icon App.png" alt="" width="32px">
                <img src="assets/img/Appstore.png" alt="">
                <img src="assets/img/Playstore.png" alt="">
            </p>
        </div>
    </div>
</div>