<div class="" ng-controller="TopbarController as vm">
    <div class="topbar-wrapper container">
        <div class="topbar-left">
            <img src="/assets/img/logo_senseino.png">
            <input type="text">
        </div>
        <div class="topbar-right">
            <ul class="topbar-menu">
                <li>ลูกค้าองค์กร</li>
                <li>ช่วยเหลือ</li>
                <li>เข้าสู่ระบบ</li>
                <li><button class="btn btn-action">สมัครสมาชิก</button></li>
            </ul>
        </div>
    </div>
</div>